body {
  background: #123;
}

h2 {
  color: #666;
  font-family: monospace;
  text-align: center;
}

.background {
  table-layout: fixed;
  border-spacing: 0;
}

.background td {
  padding: 0;
}

.lava,
.actor {
  background: #ff0000;
}

.wall {
  background: deepskyblue;
  border: solid 3px #333;
  box-sizing: content-box;
}

.actor {
  position: absolute;
}

.coin {
  background: silver;
  border-radius: 50%;
}

.player {
  background: url(https://vignette4.wikia.nocookie.net/fantendo/images/6/6e/Small-mario.png/revision/latest?cb=20120718024112);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: none;
}

.lost .player {
  background: #a04040;
}

.won .player {
  background: green;
}

.game {
  position: relative;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.overlay.show {
  visibility: visible;
}

.btn {
  border: none;
  height: 40px;
  color: #fff;
  width: 120px;
  background: deepskyblue;
  text-transform: uppercase;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
}

.btn-stop {
  display: none;
}

.popup {
  font-family: "Raleway", sans-serif;
  position: absolute;
  max-width: 500px;
  background: #fa3380;
  color: #fff;
  padding: 25px;
  width: 100%;
  height: 140px;
  border-radius: 5px;
  left: 0;
  right: 0;
  margin: auto;
  top: 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.show > .popup {
  top: 300px;
  opacity: 1;
}

.popup h4 {
  text-align: left;
  background: #fff;
  padding: 6px 10px;
  color: #fff;
}

.pop-header {
  position: absolute;
  top: -220px;
  text-align: center;
  width: 100%;
  height: 300px;
  left: 0;
  z-index: 5;
  background: url("https://vignette2.wikia.nocookie.net/fantendo/images/1/17/MarioPunch.png/revision/latest?cb=20110731135256")
    no-repeat;
  background-position: center 0;
}

.pop-header .close {
  position: absolute;
  color: #fff;
  right: 0;
  bottom: 55px;
  font-size: 22px;
  cursor: pointer;
  width: 30px;
  text-align: center;
}

.pop-body {
  max-height: 300px;
  overflow-y: auto;
}

.time,
.time::after {
  display: block;
  position: absolute;
  background: #ffd54f;
  left: 0;
  right: 0;
  border: 4px solid #fff;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 47px;
  font-size: 22px;
  margin: auto;
  bottom: -5px;
  box-shadow: 0 0 0 10px #ffd54f;
  text-align: center;
}
.time::after {
  content: "";
  position: absolute;
  left: -4px;
  top: -4px;
  background: none;
  border-top-color: #000;
}
.time.start::after {
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
}

#debug {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background: tomato;
  height: 100px;
  width: 200px;
  overflow: scroll;
  border: white 1px solid;
}

.game {
  overflow: scroll;
}
